


.container-product {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 25% 75%;

}

.col-left-product li {
  list-style: none;
}

.bor-left-product {
  width: 90%;
  height: 472px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #FFF;
}

.bor-right-product {
  width: 100%;
  padding: 10px 50px 50px 50px;
  border-radius: 14px;
  background: #FFF;
}



/* button */
.manager-button-product {
  display: block;
  width: 80%;
  padding-top: 15px;
  padding-left: 15px;
  margin: 10px 0;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  transition: 0.3s, color 0.3s;
  margin-left: 10%;
  font-family: 'Playfair Display';
}

.category-button {
  display: block;
  width: 60%;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
margin: 0 auto;
  cursor: pointer;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
  transition: 0.3s, color 0.3s;
  font-family: 'Playfair Display';
}
.category-button:hover {

  background-color: #f5f5f5;
  transform: translateY(-7px);
}

.category-button:active {
  transform: translateY(-1px);
}
/* #btn {
  background-color: rgba(0, 176, 116, 0.15);
  color: #00B074;
  transition: .1s ease;
}

#btn2:hover {
  background-color: rgba(0, 176, 116, 0.15);
  color: #00B074;
  transition: .1s ease;
}
*/






.content-3-product .box-product {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.content-3-product h2 {
  color: var(--coffee, #131313);
  font-family: 'Playfair Display';
  font-size: 54px;
  font-style: normal;
  text-align: center;
}

.content-3-product p {

  color: #707070;
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 13px;
  font-style: normal;
}

/* product */
.box1-product {
  background: #FFF9F1;
  width: 200px;
  height: 370px;
  position: relative;
  margin: 0 auto;
}

.box1-product h4 {
  text-align: center;
  color: var(--coffee, #131313);
  font-family: 'Playfair Display';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 14px;
}

.box1-product h5 {
  text-align: center;
  color: rgb(178, 62, 62);
  font-family: 'Playfair Display';
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box1-product img {
  width: 200px;
  height: 260px;
}

.mr1 {
  margin-right: 20px;
  margin-top: 40px;
}

.btn-product {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 24px;
  background: #F9C06A;
  color: #1E1E1E;
  font-family: 'Playfair Display';

  cursor: pointer;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-product:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-product:active {
  transform: translateY(-1px);
}
