<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Clicker Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair Display">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/detail.css'/>





    {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
    {{!-- <script src="/javascripts"></script> --}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
